{% extends "base_list.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}
{% load user_tags %}

{% block content %}

<h1 style="text-align: center">Classroom virtual</h1>



{% if request.user|has_group:0%}

<a href="{% url "preguntas:resultados" %}" class="btn btn-success"></i>Resultados</a>

<p>

</p>

<div class="card-wrapper">
    {% for pregunta in object_list %}

    <div class="card card-global card-global-flex" style="width: 18rem;">
        <img class="card-img-top image-card" src="{{pregunta.imagen_pregunta.url}}" alt="Card image cap">
        <div class="card-flex">
            <h5 class="card-title title-FV">{{pregunta.tipo}}</h5>
            <p class="card-text pregunta-title">{{pregunta.pregunta}}</p>
            <button type="button" class="btn btn-primary btn-pregunta" data-toggle="modal" data-id="{{pregunta.id}}"
                    data-target="#myModal4">Evaluar tema
            </button>
        </div>
    </div>

    {% endfor %}

</div>


<div id="modal_pregunta">
    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <h1 class="modal-id" hidden>
                    </h1>
                    <i class="fa fa-question-circle modal-icon"></i>
                    <h4 class="modal-tipo">Tipo</h4>
                    <div class="text-left">
                        <h2 class="modal-pregunta">Modal title</h2>
                        <ol class="modal-pregunta-opciones"></ol>
                    </div>
                    <div class="align-left">

                    </div>
                </div>
                <div class="modal-body">

                    <div class="modal-respuestas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white cerrar" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="responderPregunta()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}


{% if request.user|has_group:1%}

<p>
    Aqui Se mostraran las preguntas en tiempo real a los estudiantes
</p>


<div id="modal_pregunta">
    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <h1 class="modal-id" hidden>
                    </h1>
                    <i class="fa fa-question-circle modal-icon"></i>
                    <h4 class="modal-tipo">Tipo</h4>
                    <div class="text-left">
                        <h2 class="modal-pregunta">Modal title</h2>
                        <ol class="modal-pregunta-opciones"></ol>
                    </div>
                    <div class="align-left">

                    </div>
                </div>
                <div class="modal-body">

                    <div class="modal-respuestas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white cerrar" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="responderPregunta()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}


{% block specific-js %}

<script>

    $(function () {

        /*
            se incluye la misma url creada en el archivo Routing para la respectiva
            conexion de los Websockets con Django
        */

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/classroom/stream";
        var socket = new ReconnectingWebSocket(ws_path);


        /*
            Se establece la conexion del websocket dentro de la Url
        */

        socket.onopen = function() {
            console.log("Hello everywhere")
        }

        if (socket.readyState == WebSocket.OPEN) socket.onopen();

        /*
            Al dar click en el boton Evaluar tema, este envia el id de la pregunta
            al socket y este es recibido para su respectivo proceso
        */

        $(".btn-pregunta").on('click', function(event){
            var id_pregunta =  $(this).data("id");
            socket.send(id_pregunta);

        });

        /*
            Mensaje en tiempo real que envia el websocket
         */

        socket.onmessage = function (message) {

            var data = JSON.parse(message.data);
            var form;
            var id_pregunta;

            if (data.tipo === "Pregunta de Falso o Verdadero") {
                form = fillContainer(['falso', 'verdadero'], false);
            }

            $('#myModal4 .modal-pregunta').text(data.pregunta);

            if (data['pregunta opciones']) {
                for (var i = 0; i < data['pregunta opciones'].length; i++) {
                    var li = document.createElement('li');
                    li.innerHTML = data['pregunta opciones'][i];
                    $('#myModal4 .modal-pregunta-opciones').append(li);
                }
            }
            $('#myModal4 .modal-id').text(data.id_pregunta);
            $('#myModal4 .modal-tipo').text(data.tipo);//captura id del usuario
            $('#myModal4 .modal-respuestas').html(''); //Limpia modal
            $('#myModal4 .modal-respuestas').append(form); //incluye los datos en el modal
            $('#myModal4').modal("show") //Muestra el modal en tiempo real


            //Funcion que crea el modal

            function fillContainer(opciones, multiple) {
                respuestas = ['a', 'b', 'c', 'd'];
                var form = document.createElement('form');
                form.setAttribute('id', 'respuesta_form')
                var type;
                if (multiple) {
                    type = 'checkbox'
                } else {
                    type = 'radio'
                }
                var radioBtn;
                var div;
                var span;
                var label
                for (var i = 0; i < opciones.length; i++) {
                    div = document.createElement('div');
                    span = document.createElement('span');
                    label = document.createElement('label');
                    label.innerHTML = data[opciones[i]];
                    //span.innerHTML= data[opciones[i]];
                    radioBtn = document.createElement('input');
                    radioBtn.setAttribute('type', type);
                    radioBtn.setAttribute('name', 'respuesta');
                    radioBtn.setAttribute('value', i);
                    div.appendChild(radioBtn);
                    //div.appendChild(span);
                    div.appendChild(label);
                    form.appendChild(div);
                }
                return form;
            }

        };

        socket.onclose = function () {
            console.log("Desconectado");
        }

    });


    function responderPregunta(argument){

            var data = {
                idEstudiante: '{{request.user.id}}',
                idPregunta: $(".modal-id").text(),
                respuesta: $("#respuesta_form input[name='respuesta']:checked").val() //obtiene el valor en JS
            };

            //funcion para mandar los datos al servidor
            $.ajax({
                data: data, //la data que se va enviar
                method: 'get', //metodo
                url: "preguntas/respuesta", //url de la peticion
                dataType: 'json',

                success: function (data) {
                    console.log(data.is_taken);
                    if (data.is_taken){

                    $('#myModal4').modal('hide');
                    toastr.error(data.error_message);
                    }

                    else{
                        $('#myModal4').modal('hide');
                        toastr.success(data.error_message);
                       }
                    },
                error: function (err) {
                    toastr.success('No se envio la respuesta!!');
                }
            })

            idCurso="";
            idEstudiante = "";
            idPregunta = "";
            respuesta = "";
        }

</script>

{% endblock %}

