{% extends "base_list.html" %}
{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}
{% load user_tags %}

{% block content %}

<h1 style="text-align: center">Resultados</h1>

{% if request.user|has_group:0%}


<h1 class="page-header"><i class="fa fa-question-circle"></i> Preguntas de falso y verdadero</h1>

<div class="wrap-results">

    <div class="titulo-pregunta titulos">
        Pregunta
    </div>
    <div class="titulo-estudiantes_b titulos">
        <i class="fa fa-check"></i>Estudiantes
    </div>
    <div class="titulo-cont-buenos titulos">
        <i class="fa fa-check"></i>#
    </div>
    <div class="titulo-estudiantes_m titulos">
        <i class="fa fa-close"></i>Estudiantes
    </div>
    <div class="titulo-cont-malos titulos">
        <i class="fa fa-close"></i>#
    </div>


    {% for pre in pregunta_FV %}
    <div class="question-result">
        <div class="question">
            <p>{{pre.pregunta}}</p>
        </div>
        <div class="estudent-list-good">
            <div>
                {% for nombres_g in pre.buenas %}
                <ul>
                    <li><span>{{nombres_g.estudiante}}</span></li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="count-good">
            <span>{{pre.buenas |length}}</span>
        </div>
        <div class="estudent-list-bad">
            <div>
                {% for nombres_b in pre.malas %}
                <ul>
                    <li><span>{{nombres_b.estudiante}}</span></li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="count-bad">
            <span>{{pre.malas |length}}</span>
        </div>
    </div>

    <hr style="width: 100%; border-top: 1px solid black;">
    {% endfor %}
</div>

{% endif %}


{% if request.user|has_group:1%}

<p>
    No hay naaaaa
</p>


{% endif %}


{% endblock %}

{% block new_button %}
<a href="{% url " gestion_usuarios:crear_usuario" %}" class="btn btn-success"><i
        class="fa  fa-plus-circle"></i> Crear Usuario</a>
{% endblock %}


{% block specific-js %}

<style>

    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid black;
    }

    .wrap-results {
        display: flex;
        flex-wrap: wrap;
    }

    .question-result {
        display: flex;
        width: 100%;
        padding-top: 3%;
    }

    .question {
        width: 22%;
        padding: 0%;
        text-align: left;
        font-size: 16px;
        color: black;
        font-weight: bold;
        padding-left: 3%;
        border-right: 1px solid;
    }

    .estudent-list-good {

        width: 30%;
        font-size: 16px;
        color: black;
        border-right: 1px solid;
    }

    .estudent-list-bad {
        width: 22%;
        font-size: 16px;
        color: black;
        text-align: left;
        border-right: 1px solid;
    }

    .count-good {
        width: 10%;
        font-size: 16px;
        text-align: center;
        border-right: 1px solid;
    }

    .count-bad {
        width: 16%;
        font-size: 16px;
        text-align: center;
    }

    .titulos {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .titulo-pregunta {
        width: 22%;
        color: rgb(30, 144, 255);
    }

    .titulo-estudiantes_b {
        width: 30%;
        color: rgb(0, 128, 0);
    }

    .titulo-cont-buenos {
        width: 10%;
        color: rgb(0, 128, 0);
    }

    .titulo-estudiantes_m {
        width: 22%;
        color: rgb(255, 0, 0);
    }

    .titulo-cont-malos {
        width: 16%;
        color: rgb(255, 0, 0);
    }

</style>

<script>

    console.log("david");

</script>


{% endblock %}

